@model IEnumerable<Workforce_Monitor.Models.TNEmpMasterTable>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .btn-sm {
        height: 30px;
        padding: 5px 20px;
        font-size: 14px;
    }
</style>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-secondary">
    <tr class="btn-primary">
        <th>
            @Html.DisplayNameFor(model => model.emp_code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emp_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.designation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salary)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.emp_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emp_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.designation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salary)
            </td>
            <td>
                @Html.ActionLink("  Edit  ", "Edit", new { id = item.emp_id }, new { @class = "btn btn-warning btn-sm" })
                @Html.ActionLink("Details", "Details", new { id = item.emp_id }, new { @class = "btn btn-success btn-sm" })
                @Html.ActionLink("Delete ", "Delete", new { id = item.emp_id }, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
    }

</table>
